extends layout

block content
  div Welcome to the Better Botz reference application site hosted on Glitch and data powered by Astra DBaaS!
  div This site is built using a range of technologies to provide an example of how to use the Astra DBaaS and we've chosen Glitch for it's superb ease of use and quick rapid web application development time!
  div Check out the data report on orders
    a href("/datareport")
  
block footer
  div This is extra bits.