extends layout

block content
  p Welcome to the Better Botz reference application site hosted on Glitch and data powered by Astra DBaaS!
  p This site is built using a range of technologies to provide an example of how to use the Astra DBaaS and we've chosen Glitch for it's superb ease of use and quick rapid web application development time!
  
block footer
  p This is extra bits.