doctype html
html
  head
    title= title
    link(href='/stylesheets/style.css')
  body
    block content

  footer
    block footer
    div Built with 
      a(href="https://glitch.com/") Glitch
      |  and 
      a(href="https://www.datastax.com/cloud/datastax-astra") Astra DBaaS!
      