doctype html
html
  head
    title= title
    link rel="stylesheet" type="text/css" href="stylesheets/style.css"
    link(href='//style.css', rel='stylesheet')
  body
    block content

  footer
    block footer
    div Built with 
      a(href="https://glitch.com/") Glitch
      |  and 
      a(href="https://www.datastax.com/cloud/datastax-astra") Astra DBaaS!
      